PORT=3000
HOST=0.0.0.0
API_KEY=change-me
MAX_FILE_SIZE=25165824
REQUEST_TIMEOUT=30000
GOTENBERG_URL=http://localhost:3001
ESIGN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
ESIGN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
